@font-face {
    font-family: "Rampung";
    src: url("../fonts/Rampung.ttf") format("ttf");
    src: url("../fonts/Rampung.woff") format("woff");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("ttf");
    src: url("../fonts/Raleway-Regular.woff") format("woff");
}

.ayta {
    font-family: "Raleway",sans-serif;
    font-size: 13px;
}

.ayta .navbar-header {
    float: none;
}

.ayta .navbar-right {
    background: rgba(71, 89, 77, 0.8);
    position: absolute;
    float: none;
    top: 20px;
    right: 40px;
}

.ayta .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

@media screen and (max-width: 980px) {
    .ayta .navbar-custom {
        height: 150px !important;
    }
    .ayta .navbar-right {
        position: static;
        float: left !important;
        margin-top: 30px;
        margin-left: -30px;
        background-color: #50A9EC;
    }
}

@media screen and (max-width: 768px) {
    .ayta .navbar-custom {
        height: 80px !important;
        padding-left: 10px;
    }

    .container{
        margin-left: 0px !important;
    }

    .ayta .collapse.in .navbar-right,
    .ayta .collapsing .navbar-right{
        position: absolute;
    }
}

.ayta .link-anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.ayta .page-loader {
    background-color: #47594D;
}
.ayta .titan-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30vh 0 10vh 0;
}

.ayta__logotype {
    background-image: url("../images/logotype_blanc.svg");
    background-size: contain;
    width: 438px;
    min-height: 213px;
    max-height: 213px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    opacity: 0.8;
}

.ayta .font-alt {
    font-family: Rampung, Impact, sans-serif;
}

.ayta .titan-title-size-3 {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    letter-spacing: 4px;
    margin-top: 0;
}

@media screen and (max-width: 449px) {
    .ayta .titan-title-size-3 {
        display: none;
    }
}

.ayta .navbar-brand {
    padding: 0;
}

.ayta .navbar-brand img {
    height: 40px;
    margin-top: 7px;
}


/** DEROULEMENT **/


.ayta .copyright {
    margin-top: 10px;
}

.ayta footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
}

.ayta .module {
    padding: 30px 0;
}

.ayta .navbar-custom {
    padding-top: 10px !important;
    background: url("/my_assets/images/bg1.jpg");
    font-family: Rampung, Impact, sans-serif;
    font-size: 13px;
    height: 90px;
    letter-spacing: 1px;
}

.ayta .navbar-custom > .navbar-right {
    margin-right: 20px;
}

.ayta .navbar-transparent .navbar-brand {
    opacity: 0;
}

.ayta .navbar-brand {
    transition: opacity 500ms ease-in;
}

.ayta .navbar.navbar-transparent {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ayta .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ayta .a--mobile, .ayta .a--mobile-only, .ayta .a--tablet {
    display: none;
}

.ayta .btn{
    font-family: Rampung, Impact, sans-serif;
}

.ayta .form-control {
    font-family: "Raleway", serif;
    text-transform: none;
}

.ayta .a--desktop {
    display: inherit;
}



.ayta .home-section {
    height: 160px;
}

.nav li.active {
    font-weight: bolder;
    font-size: 11pt;
}

.ayta .universe {
    margin-top: 50px;
    background: url("/my_assets/images/bg1.jpg");
    background-position: center bottom;
    font-family: Rampung, Impact, sans-serif;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.ayta .universe:before {
    position: absolute;
    content:" ";
    z-index: 0;
    top:0;
    left:0;
    bottom: 2px;
    right: 0;
    background: rgba(71, 89, 77, 0.6);
    pointer-events: none;
}

.ayta .universe p {
    height: 50px;
}

.ayta .universe h3 {
    font-size: 17px;
    font-weight: bold;
}


@media screen and (max-width: 750px) {
    .ayta .universe {
        text-align: left;
    }
    .ayta .universe p {
        padding-right: 20px;
    }
}

.ayta .universe a {
    display: block;
}

.ayta h2 {
    text-align: left;
    color: #58BC82;
    margin-bottom: 20px;
}

.ayta .main {
    min-height: calc(100vh - 120px);
    padding-bottom: 60px;
}

.navbar .container, .universe .container {
    margin-left: 70px;
}


.promo {
    background: #A23D3D;
    background-image: url("/my_assets/images/snow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px -20px;
    color: white;
    padding: 20px;
    padding-left: 250px;
    margin-top: 10px;
}

.promo__conditions {
    line-height: 1;
    margin-top: 20px;
    text-align: justify;
}

.promo__title {
    font-family: "Rampung", serif;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.1;
}

.promo__subtitle {
    margin-top: 0;
    line-height: 1;
}

.--divide-lr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.promo__offers {
    display: flex;
    justify-content: space-between;
}

.promo__offer {
    flex: 0 0 30%;
    border: 1px solid #CCA440;
    height: 100px;
    background: white;
    color: #CCA440;
    text-align: center;
}

.promo__offer__percent {
    font-size: 40px;
    line-height: 1;
}

.promo__offer__sub {
    line-height: 1;
}

.promo__offer__desc {
    margin-top: 10px;
    line-height: 1;
    color: #6B6B6B;
}

@media screen and (max-width: 991px) {
    .promo {
        background-size: 80px;
        padding-left: 10px;
        padding-top: 20px;

    }

    .--divide-lr {
        padding-left: 100px;
    }

    .promo__offers {
        margin-top: 60px;
    }
}

@media screen and (max-width: 480px) {
    .--divide-lr {
        flex-direction: column;
        align-items: flex-end;

        text-align: right;
    }

    .promo__subtitle {
        margin-bottom: 20px;
    }

    .promo__offers {
        flex-direction: column;
        margin-top: 30px;
    }

    .promo__offer {
        margin-bottom: 20px;
    }
}

.confirmation {
    background: #50A9EC;
    color:white;
    display: flex;
    align-items: center;
    padding: 10px;
}