@font-face {
    font-family: "Rampung";
    src: url("../fonts/Rampung.ttf") format("ttf");
}

.--ayta .titan-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ayta__logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 100px;
}

.ayta__logo {
    background-image: url("../images/logo_blanc.svg");
    width: 400px;
    height: 253px;
    margin-right: 100px;
    display: block;
}

.ayta__logotype {
    background-image: url("../images/logotype_blanc.svg");
    width: 438px;
    height: 213px;
    display: block;
}

.--ayta .font-alt {
    font-family: Rampung, Impact, sans-serif;
}


.ayta__tagline {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.--ayta .titan-title-size-3 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.--ayta .navbar-brand {
    padding: 0;
}

.--ayta .navbar-brand img {
    height: 40px;
    margin-top: 7px;
}

.--ayta #concept h2 {
    text-align: left;
    color: #58BC82;
}

/** CONCEPT **/

.--ayta #concept .the-woman-top {
    background-image: url("/my_assets/images/femme_1.svg");
    width: 100%;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position:relative;
}

.--ayta #concept .the-woman-bottom {
    background-image: url("/my_assets/images/femme_2.svg");
    width: 100%;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position:relative;
}

.--ayta #concept .the-woman-cont {
    display: flex;
    justify-content: flex-end;
}

.--ayta .features {
    background-color: #E08DAC;
}

.--ayta .feature {
    padding-top: 30px;
}

.--ayta .feature p {
    margin-top: 20px;
    text-align: justify;
    color: white;
}

.--ayta .icon__leaf {
    background-image: url("/my_assets/images/feuille.svg");
    width: 70px;
    height: 70px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;
}

.--ayta .icon__meter {
    background-image: url("/my_assets/images/metre.svg");
    width: 70px;
    height: 70px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;

}

.--ayta .feature__title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.--ayta .feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--ayta .icon__soins {
    background-image: url("/my_assets/images/soins.svg");
    width: 70px;
    height: 70px;
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;
}

/** DEROULEMENT **/

.--ayta #deroulement {
    background-image: url("/my_assets/images/bg2.png");
    background-position: left bottom;
}

.--ayta #deroulement h2 {
    background-color: #58BC82;
    color: white;
    margin-left: -30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.--ayta #deroulement .der__intro {
    color: #58BC82;
    height: 70px;
    display: flex;
    align-items: center;
}

.--ayta #deroulement .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    border-radius: 30px;
    margin-top: 10px;
}

.--ayta #deroulement .step2,
.--ayta #deroulement .step4 {
    border-right: 4px solid #58BC82;
}

.--ayta #deroulement .step1,
.--ayta #deroulement .step3 {
    border-right: none;
    position: relative;
    border-left: 4px solid #58BC82;

}

.--ayta #deroulement .der__count {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #58BC82;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9FCF9;
    font-size: 48px;
    color: #58BC82;
    position: relative;
    left: 57px;
}

.--ayta #deroulement .step1 .der__count,
.--ayta #deroulement .step3 .der__count {
    left: -57px;
}

.--ayta #deroulement .outro {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #58BC82;
}

.--ayta #deroulement .smile {
    background-color: #58BC82;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    box-shadow: 0 6px #B9E3CB;
    background-image: url("/my_assets/images/smile.svg");
    background-size: 39px 39px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-bottom: 14px;
}

.--ayta #galerie {
    background-color: #50A9EC;
    color: white;
}

.--ayta #galerie .pic {
    background: #F9FCF9;
    border-radius: 19px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.--ayta #galerie .pic__img {
    width: 100%;
    height: 200px;
    border-radius: 19px 19px 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.--ayta #galerie .pic p {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #47594D;
    text-align: center;
    margin-left: 15%;
    width: 70%;
}

.--ayta .copyright {
    margin-top: 10px;
    margin-bottom: 40px;
}

.--ayta #contact {
    background-color: #47594D;
}

.--ayta footer {
    margin-top: 100px;
}

/** FAQ **/

.--ayta #faq {
}

.--ayta #faq h2 {
    background-color: #50A9EC;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 100px;
}

.--ayta #faq .faq__question {
    color: #50A9EC;
    text-align: center;
}

.--ayta #faq p {
    color: #47594D;
    text-align: center;
}

.--ayta #contact h2 {
    color: white;
    text-align: left;
}

.--ayta #contact .module-subtitle {
    text-align: left;
    color: white;
    font-style: normal;
}

.--ayta .contact__person {
    color: white;
    margin-bottom: 20px;
}

.--ayta .contact__fb {
    margin-top: 40px;
}

.--ayta .contact__fb img {
    width: 40px;
    height: 30px;
    padding-right: 10px;
}

.--ayta .contact__fb a {
    color: white;

}

.--ayta .module {
    padding: 70px 0;
}

.--ayta .navbar-custom {
    background: #47594D;
}

.--ayta .navbar-transparent {
    background-color: transparent;
}

.--ayta .navbar-transparent .navbar-brand {
    opacity: 0;
}

.--ayta .navbar-brand {
    transition: opacity 500ms ease-in;
}

.--ayta .navbar.navbar-transparent {
    padding-top: 20px;
    padding-bottom: 20px;
}

.--ayta .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}