@font-face {
    font-family: "Rampung";
    src: url("../fonts/Rampung.ttf") format("ttf");
}

.--ayta {
    font-family: "filson-soft",sans-serif;
    font-size: 13px;
}

.--ayta .link-anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.--ayta .page-loader {
    background-color: #47594D;
}
.--ayta .titan-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30vh 0 10vh 0;
}

.ayta__logotype {
    background-image: url("../images/logotype_blanc.svg");
    background-size: contain;
    width: 438px;
    min-height: 213px;
    max-height: 213px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    opacity: 0.8;
}

.--ayta .font-alt {
    font-family: Rampung, Impact, sans-serif;
}

.--ayta .titan-title-size-3 {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.--ayta .navbar-brand {
    padding: 0;
}

.--ayta .navbar-brand img {
    height: 40px;
    margin-top: 7px;
}

.--ayta #concept h2 {
    text-align: left;
    color: #58BC82;
}

/** CONCEPT **/

.--ayta #concept .module-title {
    margin-bottom: 30px;
}

.--ayta #concept .the-woman-top {
    background-image: url("/my_assets/images/femme_1.svg");
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    position:relative;
}

.--ayta #concept .the-woman-bottom {
    background-image: url("/my_assets/images/femme_2.svg");
    width: 100%;
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position:relative;
}

.--ayta #concept .the-woman-cont {
    display: flex;
    justify-content: flex-end;
}

.--ayta .features {
    background-color: #E08DAC;
}

.--ayta .feature {
    padding-top: 30px;
}

.--ayta .feature p {
    margin-top: 20px;
    text-align: justify;
    color: white;
}

.--ayta .icon__leaf {
    background-image: url("/my_assets/images/feuille.svg");
    width: 70px;
    height: 70px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;
}

.--ayta .icon__meter {
    background-image: url("/my_assets/images/metre.svg");
    width: 70px;
    height: 70px;
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;

}

.--ayta .feature__title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Rampung", Impact, sans-serif;
}

.--ayta .feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--ayta .icon__soins {
    background-image: url("/my_assets/images/soins.svg");
    width: 70px;
    height: 70px;
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    padding: 2px;
    border-radius: 50%;
    display: block;
}

/** DEROULEMENT **/

.--ayta #deroulement {
    background-image: url("/my_assets/images/bg2.png");
    background-position: left bottom;
}

.--ayta #deroulement h2 {
    background-color: #58BC82;
    color: white;
    height: 70px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.--ayta #deroulement .der__intro {
    color: #58BC82;
    margin-bottom: 30px;
    text-align: center;
}

.--ayta #deroulement .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    border-radius: 30px;
    margin-top: 10px;
}

.--ayta #deroulement .step2,
.--ayta #deroulement .step4 {
    border-right: 4px solid #58BC82;
}

.--ayta #deroulement .step1,
.--ayta #deroulement .step3 {
    border-right: none;
    position: relative;
    border-left: 4px solid #58BC82;

}

.--ayta #deroulement .der__count {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #58BC82;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9FCF9;
    font-size: 48px;
    color: #58BC82;
    position: relative;
    left: 57px;
}

.--ayta #deroulement .step1 .der__count,
.--ayta #deroulement .step3 .der__count {
    left: -57px;
}

.--ayta #deroulement .outro {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #58BC82;
}

.--ayta #deroulement .smile {
    background-color: #58BC82;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px #B9E3CB;
    background-image: url("/my_assets/images/smile.svg");
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-bottom: 20px;
}

.--ayta #galerie {
    background-color: #50A9EC;
    color: white;
}

.--ayta #galerie .pic {
    background: #F9FCF9;
    border-radius: 19px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.--ayta #galerie .pic__img {
    width: 100%;
    height: 200px;
    border-radius: 19px 19px 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.--ayta #galerie .pic p {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #47594D;
    text-align: center;
    margin-left: 15%;
    width: 70%;
}

.--ayta .copyright {
    margin-top: 10px;
    margin-bottom: 40px;
}

.--ayta #contact {
    background-color: #47594D;
}

.--ayta footer {
    margin-top: 100px;
}

/** FAQ **/

.--ayta #faq {
    padding: 40px 0 60px 0;
}

.--ayta #faq h2 {
    background-color: #50A9EC;
    color: white;
    min-height: 60px;
    line-height: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.--ayta #faq .faq__question {
    color: #50A9EC;
    text-align: center;
}

.--ayta #faq p {
    color: #47594D;
    text-align: center;
}

.--ayta #contact h2 {
    color: white;
    text-align: left;
}

.--ayta #contact .module-subtitle {
    font-family: "filson-soft",sans-serif;
    text-align: left;
    color: white;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 30px;
}

.--ayta .contact__person {
    color: white;
    margin-bottom: 20px;
}

.--ayta .contact__fb {
    margin-top: 20px;
}

.--ayta .contact__fb img {
    width: 40px;
    height: 30px;
    padding-right: 10px;
}

.--ayta .contact__fb a {
    color: white;

}

.--ayta .module {
    padding: 30px 0;
}

.--ayta .navbar-custom {
    background: rgba(71, 89, 77, 0.9);
    font-family: Rampung, Impact, sans-serif;
    font-size: 13px;
}

.--ayta .navbar-transparent {
    background: rgba(71, 89, 77, 0);
}

.--ayta .navbar-transparent .navbar-brand {
    opacity: 0;
}

.--ayta .navbar-brand {
    transition: opacity 500ms ease-in;
}

.--ayta .navbar.navbar-transparent {
    padding-top: 20px;
    padding-bottom: 20px;
}

.--ayta .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.--ayta .navbar-transparent .navbar-right {
    background: rgba(71, 89, 77, 0.9);
}

.--ayta .--mobile, .--ayta .--mobile-only, .--ayta .--tablet {
    display: none;
}

.--ayta .btn{
    font-family: Rampung, Impact, sans-serif;
}

.--ayta .form-control {
    font-family: "filson-soft", serif;
    text-transform: none;
}

.--ayta .--desktop {
    display: inherit;
}


@media screen and (max-width: 992px){
    .--ayta .--desktop {
        display: none !important;
    }

    .--ayta .--mobile, .--ayta .--tablet {
        display: inherit !important;
    }

    .--ayta .navbar-custom .icon-bar {
        background: #58BC82;
    }

    .--ayta .m__home__logo {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        height: 50vh;
        background-image: url("/my_assets/images/logo_couleur.svg");
    }

    .--ayta .m__home__logotype {
        width: 70%;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        height: 15vh;
        background-image: url("/my_assets/images/logotype.svg");
    }

    .--ayta .m__home__motto {
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        width: 80%;
        margin: auto;
    }

    .--ayta .m__home__arrows {
        width: 100px;
        margin: auto;
        height: 100px;
        background-image: url("/my_assets/images/arrows.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        bottom: 40px;
        left: calc(50% - 50px);
        z-index: 10000;
    }

    .--ayta .feature__header {
        display: flex;
        align-items: center;
    }

    .--ayta .feature__title {
        margin-top: 0 !important;
        margin-left: 10px;
    }

    .--ayta .feature p {
        margin-left: 35px;
    }

    .--ayta #deroulement {
        background: none;
    }

    .--ayta #deroulement .step,
    .--ayta #deroulement .outro {
        border: none;
        align-items: flex-start;
    }

    .--ayta #deroulement .der__count,
    .--ayta #deroulement .smile {
        left: 0 !important;
        margin-right: 20px;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .--ayta #deroulement .step2,
    .--ayta #deroulement .step4 {
        flex-direction: row-reverse;
    }

    .--ayta #contact .contact__person {

        text-align: center;
    }

    .--ayta #contact .contact__person:first-child {
        margin-top: 30px;
    }

    .--ayta #contact .contact__fb {
        text-align: center;
    }

    .--ayta .navbar-brand {
        margin-left: 20px;
    }

    .--ayta .navbar-custom.navbar-transparent {
        background-color: transparent;
    }

    .--ayta .navbar-custom {
        background: rgba(71, 89, 77, 1);

    }

    .--ayta #deroulement .step {
        min-height: inherit;
    }

    .--ayta #deroulement .outro {
        margin-top: 20px;
    }
}


@media screen and (max-width: 767px) {
    .--ayta .--mobile-only {
        display: inherit !important;
    }

    .--ayta .--tablet {
        display: none !important;
    }
}